.addbox{
  position: fixed;
  z-index:300;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.3);
  top:0;
}
.addbox p
{
    color:rgb(59,210,174);
}
.addbox input
{
  display: inline-block;
}
.addboxinner
{
  position: relative;
  width:500px;
  border-radius: 5px;
  top: calc(50vh - 150px);
  background-color: white;
  margin:auto;
}
.addboxinner h1
{
  position: relative;
  font-size: 1.6em;
  top:10px;
  margin-bottom: 30px;
  color:rgb(59,210,174);

}
.cross
{
  position: absolute;
  right:20px;
  top:20px;
  color: white;
}
.cross:hover
{
  cursor: pointer;
  transform: rotate(90deg);
  transition: all 0.3s;
}
.validate
{
  position: relative;
  display: block;
  width:100px;
  height:30px;
  border: 0;
  border-radius: 5px;
  margin:auto;
  padding-bottom:20px;
  color:white;
  margin-top: 50px;
  font-size: 1em;
  padding-top: 6px;
  bottom: 25px;
  background: -webkit-linear-gradient(to top left, rgb(59,210,174) , rgb(54,186,194));
  background: -o-linear-gradient(to top left, rgb(59,210,174), rgb(54,186,194));
  background: -moz-linear-gradient(to top left, rgb(59,210,174), rgb(54,186,194));
  background: linear-gradient(to top left, rgb(59,210,174), rgb(54,186,194));
  box-shadow: inset 0 7em 10em -5em rgba(255,255,255,0.3);
}
.validate:focus
{
  outline:none;
}
.validate:hover
{
  cursor: pointer;
}
input[type="date"]{
  text-align: center;
  color:rgb(59,210,174);
  background-color:rgb(243,243,243);
  border:0;
}
input[type="date"]:focus{
  outline:none;
}
.todotext
{
  resize: none;
  outline: none;
  width: 70%;
  border: none;
  text-align: center;
  color:rgb(59,210,174);
  font-size: 1.5em;
  background-color: rgb(243,243,243);
  margin-top:10px;
}
.formtext
{
  position: relative;
  color:rgb(59,210,174);
  margin:auto;
  font-size:1.5em;
  top:10px;
  margin-bottom:20px;
}
