.toDoList
{
  position: relative;
  width:900px;
  background-color:none;
  margin:auto;
}
.toDoListElem
{
  position: relative;
  width:calc(100% - 10px);
  height:65px;
  border-radius: 5px;
  background-color:white;
  margin:auto;
  margin-top:12px;
  text-align: left;
  transition: all 1s;
  overflow: hidden;
  box-shadow:
    inset 0 2em 5em -7em rgba(250, 96, 96, 0.4),
    0 0.3em 0.5em -0.2em rgba(150,150,100,0.1),
    0 1em 2em -0.75em rgba(150,150,150,0.1),
    0 1em 3em -0.5em rgba(150,150,150,0.1),
    0 3em 3em -0.25em rgba(150,150,150,0.1);
}

.unwraped
{
  height:auto;
  transition: all 1s;
}

.to_do
{
  color: rgb(59,210,174);
  display: inline-block;
  width:200px;
  margin-left: 25px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.checkbox
{
  position: relative;
  display: inline-block;
  width:30px;
  height:30px;
  background-color:none;
  border: solid;
  border-width:4px;
  border-color:rgb(59,210,174);
  top: 14px;
  margin-left:14px;
  margin-right:16px;
  border-radius: 5px;
  transition: all 0.5s;
}

.checkbox:hover{
  cursor: pointer;
  border-color:rgb(69,240,174);
  transition: all 0.5s;
}

.checkbox:hover .check{
  color:rgb(69,240,174);
}

.since
{
  color: rgb(59,210,174);
  display: inline-block;
  width:150px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.fore
{
  color: rgb(59,210,174);
  display: inline-block;
  margin-left: 25px;
  width:150px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.check
{
  color: rgb(59,210,174);
  position: absolute;
  top:6px;
  left:7px;
}
.red
{
  background-color:red;
}
.delete
{
  position: absolute;
  right:0;
  top:2px;
  width:50px;
  height:60px;
}
.poubelle
{
  position: relative;
  color:rgb(59,210,174);
  margin-top: 20px;
}
.poubelle:hover{
  cursor:pointer;
}

.more
{
  position: absolute;
  right:50px;
  top:2px;
  width:50px;
  height:60px;
}

.chev
{
  position: relative;
  color:rgb(59,210,174);
  margin-top: 20px;
}
.chev:hover{
  cursor:pointer;
}
.progressBar
{
  position: relative;
  width:90%;
  height:20px;
  background-color:rgb(243,243,243);
  margin:auto;
  margin-top:25px;
  border-radius: 100px;
  text-align: center;
  box-shadow: inset 5px 5px 10px 0px rgba(155,155,155,0.2);
}
.progressBarInner
{
  position: relative;
  height:100%;
  border-radius: 100px;
  background-color:rgb(243,243,243);
  background: -webkit-linear-gradient(top left, rgb(59,210,174) , rgb(54,186,194));
  background: -o-linear-gradient(top left, rgb(59,210,174), rgb(54,186,194));
  background: -moz-linear-gradient(top left, rgb(59,210,174), rgb(54,186,194));
  background: linear-gradient(top left, rgb(59,210,174), rgb(54,186,194));
}
.cursor
{
  position: relative;
  background-color:white;
  float:right;
  margin-right:5px;
  width:14px;
  height:14px;
  top:3px;
  border-radius: 100px;
}
.cursor:hover{
  cursor: pointer;
}

.progressScore
{
  position: relative;
  color:rgb(59,210,174);
  font-family: 'Lato', sans-serif;
  margin-top:10px;
  font-size: 1em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
