.toDoList
{
  position: relative;
  width:900px;
  background-color:none;
  margin:auto;
}
.toDoListElem
{
  position: relative;
  width:calc(100% - 10px);
  height:65px;
  border-radius: 5px;
  background-color:white;
  margin:10px;
  text-align: left;
}

.to_do
{
  color: rgb(59,210,174);
  display: inline-block;
  width:200px;
  margin-left: 25px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.checkbox
{
  position: relative;
  display: inline-block;
  width:30px;
  height:30px;
  background-color:none;
  border: solid;
  border-width:4px;
  border-color:rgb(59,210,174);
  top: 14px;
  margin-left:14px;
  margin-right:16px;
  border-radius: 5px;
  transition: all 0.5s;
}
.checkbox:hover{
  cursor: pointer;
  border-color:rgb(69,240,174);
  transition: all 0.5s;
}

.since
{
  color: rgb(59,210,174);
  display: inline-block;
  width:150px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.fore
{
  color: rgb(59,210,174);
  display: inline-block;
  margin-left: 25px;
  width:150px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.check
{
  color: rgb(59,210,174);
  position: absolute;
  top:6px;
  left:7px;
}
.red
{
  background-color:red;
}
.delete
{
  position: absolute;
  right:0;
  top:2px;
  width:50px;
  height:60px;
}
.poubelle
{
  position: relative;
  color:rgb(59,210,174);
  margin-top: 20px;
}
.poubelle:hover{
  cursor:pointer;
}
