.ResearchBox
{
  display: flex;
  width:90%;
  margin:auto;
  height:65px;
  border-radius: 5px;
  background-color:white;
  margin:auto;
  margin-top:12px;
  text-align: left;
  transition: all 1s;
  overflow: hidden;
  max-width:1000px;
  box-shadow:
    inset 0 2em 5em -7em rgba(205,205,205,0.4),
    0 0.3em 0.5em -0.2em rgba(150,150,100,0.1),
    0 1em 2em -0.75em rgba(150,150,150,0.1),
    0 1em 3em -0.5em rgba(150,150,150,0.1),
    0 3em 3em -0.25em rgba(150,150,150,0.1);
}

.loupe
{
  position: relative;
  display: inline-block;
  width:60px;
  margin-top:17px;
  margin-left:17px;
  color: white;
}

.ResearchBar
{
  width:calc(100% - 85px);
  background-color:rgb(250,250,250);
  height:46px;
  padding-left: 15px;
  margin-top:10px;
  border:none;
  font-size: 1.6em;
  color:rgb(59,210,174);
  border-radius: 3px;
  box-shadow: inset 5px 5px 10px 0px rgba(155,155,155,0.2);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(59,210,174);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(59,210,174);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(59,210,174);
}
:-moz-placeholder { /* Firefox 18- */
color: rgb(59,210,174);
}

.ResearchBar:focus{
  outline:none;
}

.loupeElem
{
  display: inline-block;
  background-color: rgb(243,243,243);
  height:100%;
  width:65px;
  margin-right:10px;
  background-color:rgb(243,243,243);
  background: -webkit-linear-gradient(to top left, rgb(59,210,174) , rgb(54,186,194));
  background: -o-linear-gradient(to top left, rgb(59,210,174), rgb(54,186,194));
  background: -moz-linear-gradient(to top left, rgb(59,210,174), rgb(54,186,194));
  background: linear-gradient(to top left, rgb(59,210,174), rgb(54,186,194));
  box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0.3),
    0 0.3em 0.5em -0.2em rgba(150,150,100,0.1),
    0 1em 2em -0.75em rgba(150,150,150,0.1),
    0 1em 3em -0.5em rgba(150,150,150,0.1),
    0 3em 3em -0.25em rgba(150,150,150,0.1);
}
