.ResearchBox
{
  display: flex;
  width:90%;
  margin:auto;
  height:65px;
  border-radius: 5px;
  background-color:white;
  margin:auto;
  margin-top:12px;
  text-align: left;
  transition: all 1s;
  overflow: hidden;
  max-width:1000px;
  box-shadow:
    inset 0 2em 5em -7em rgba(205,205,205,0.4),
    0 0.3em 0.5em -0.2em rgba(150,150,100,0.1),
    0 1em 2em -0.75em rgba(150,150,150,0.1),
    0 1em 3em -0.5em rgba(150,150,150,0.1),
    0 3em 3em -0.25em rgba(150,150,150,0.1);
}
.ResearchBoxfixed
{
  display: flex;
  width:100%;
  margin:auto;
  height:65px;
  background-color:white;
  transition:all 0.5s;
  box-shadow:
    inset 0 2em 5em -7em rgba(205,205,205,0.4),
    0 0.3em 0.5em -0.2em rgba(150,150,100,0.1),
    0 1em 2em -0.75em rgba(150,150,150,0.1),
    0 1em 3em -0.5em rgba(150,150,150,0.1),
    0 3em 3em -0.25em rgba(150,150,150,0.1);
}

.mainSearchBox
{
  position: relative;
  width:100%;
}
.fixed
{
  position:fixed;
  top:0px;
  width:100vw;
  z-index: 100;
}

.loupe
{
  position: relative;
  display: inline-block;
  width:60px;
  margin-top:17px;
  color: white;
}

.ResearchBar
{
  width:calc(100% - 85px);
  background-color:rgb(255,255,255);
  height:46px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top:9px;
  border:none;
  font-size: 1.6em;
  color: rgb(75,86,78);
  border-radius: 3px;
  box-shadow: inset 5px 5px 10px 0px rgba(155,155,155,0.2);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(75,86,78, 0.8);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(75,86,78, 0.8);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(75,86,78, 0.8);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(75,86,78, 0.8);
}

.ResearchBar:focus{
  outline:none;
}

.loupeElem
{
  display: inline-block;
  background-color: rgb(243,243,243);
  text-align: center;
  height:100%;
  width:65px;
  margin-right:10px;
  background-image: linear-gradient( 0deg, rgba(244, 92, 67, 1) 0%, rgba(235, 51, 73, 0.7) 100%);
  box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0.3),
    0 0.3em 0.5em -0.2em rgba(150,150,100,0.1),
    0 1em 2em -0.75em rgba(150,150,150,0.1),
    0 1em 3em -0.5em rgba(150,150,150,0.1),
    0 3em 3em -0.25em rgba(150,150,150,0.1);
}
