.fakeResearchBox
{
  position:relative;
  width:90%;
  margin:auto;
  height:65px;
  margin:auto;
  margin-top:12px;
  max-width:1000px;
}
.menuAndSort
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width:90%;
  min-height:65px;
  max-width:1000px;
  margin:auto;
  margin-top:25px;
}
