.progressElem
{
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.progressBar
{
  position: relative;
  width:90%;
  height:20px;
  background-color:rgb(243,243,243);
  margin:auto;
  margin-top:25px;
  border-radius: 100px;
  text-align: center;
  box-shadow: inset 5px 5px 10px 0px rgba(155,155,155,0.2);
}

.progressBarInner
{
  position: relative;
  height:100%;
  border-radius: 100px;
  background: #EB3349;
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);
  background: linear-gradient( 90deg, rgba(244, 92, 67, 1) 0%, rgba(235, 51, 73, 0.7) 100%);
}

.cursor
{
  position: relative;
  background-color:white;
  float:right;
  margin-right:5px;
  width:14px;
  height:14px;
  top:3px;
  border-radius: 100px;
}
.cursor:hover{
  cursor: pointer;
}

.progressScore
{
  position: relative;
  color: rgb(75,86,78);
  font-family: 'Lato', sans-serif;
  margin-top:20px;
  margin-bottom: 0px;
  font-size: 1em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
